<div class="row">
    <div class="col-12 form-group js">
        {label $formFile /}
        <div>            
            {if $formFile->getControl()->attrs['multiple'] ?? false}
                {input $formFile class => 'inputfile inputfile-2', data-multiple-caption => ('form.upload.files.selected {count}'|translate)}
                <label for="{$formFile->getHtmlId()}">
                    <i class="fas fa-fw fa-file mr-1"></i>
                    <span>{_'form.upload.files'}</span>
                </label>
            {else}
                {input $formFile class => 'inputfile inputfile-2'}
                <label for="{$formFile->getHtmlId()}">
                    <i class="fas fa-fw fa-file mr-1"></i>
                    <span>{_'form.upload.file'}</span>
                </label>
            {/if}

        </div>
    </div>
</div>
