{var $collapseClass = sprintf('collapse-%s', Nette\Utils\Strings::webalize($formImageWithRfm['identifier']->getHtmlId()))}

<div class="row">
    <div class="col-12 form-group js">
        {label $formImageWithRfm['identifier'] /}
        <a data-toggle="collapse" href="#" data-target=".{$collapseClass}" aria-expanded="false" n:if="$imagePreview">
            <i class="fas fa-eye-slash collapse show position-absolute ml-2 mt-1 {$collapseClass}"></i>
            <i class="fas fa-eye collapse position-absolute ml-2 mt-1 {$collapseClass}"></i>
        </a>

        <div class="rfm-root">
            {input $formImageWithRfm['identifier'] class => 'inputfile inputfile-2'}
            <label for="{$formImageWithRfm['identifier']->getHtmlId()}" id="{$formImageWithRfm['identifier']->getHtmlId()}-icon">
                <i class="fas fa-fw fa-image mr-1"></i>
                <span>{_'form.upload.file-image'}</span>
            </label>

            {input $formImageWithRfm['identifier_text'] class => 'form-control inputfile-upload-rfm-input mb-2'}
            <a href="{$basePath}/3rd/responsive-filemanager-9.14.0/filemanager/dialog.php?type=1&field_id={$formImageWithRfm['identifier_text']->getHtmlId()}&relative_url=1&callback=rfmCallback"
               class="fas fa-fw fa-upload inputfile-upload-rfm"></a>
            <a href="#" class="fas fa-fw fa-times text-danger d-none inputfile-upload-rfm-remove"></a>
        </div>

        <div class="collapse {$collapseClass}" n:if="$imagePreview">
            <img n:img="$imagePreview" class="img-fluid">
        </div>
    </div>
</div>