{var $collapseClass = sprintf('collapse-%s', Nette\Utils\Strings::webalize($formImageWithRfm['identifier']->getHtmlId()))}

<div class="row">
    <div class="col-12 form-group js">
        {label $formImageWithRfm['identifier'] /}
        <a data-toggle="collapse" href="#" data-target=".{$collapseClass}" aria-expanded="false" n:if="$imagePreview">
            <i class="fas fa-eye-slash collapse show {$collapseClass} position-absolute ml-2 mt-1"></i>
            <i class="fas fa-eye collapse {$collapseClass} position-absolute ml-2 mt-1"></i>
        </a>

        <div class="rfm-root">
            {input $formImageWithRfm['identifier'] class => 'inputfile inputfile-2'}
            <label for="{$formImageWithRfm['identifier']->getHtmlId()}" id="{$formImageWithRfm['identifier']->getHtmlId()}-icon">
                <i class="fas fa-fw fa-image mr-1"></i>
                <span>{_'form.upload.file-image'}</span>
            </label>

            {input $formImageWithRfm['identifier_text'] class => 'form-control inputfile-upload-rfm-input mb-2'}
         </div>

        <div class="collapse {$collapseClass}" n:if="$imagePreview">
            <img n:img="$imagePreview" class="img-fluid">
        </div>
    </div>
</div>